html {
    font-family: "Verdana";
}

body {
    padding-left: 10%;
    padding-right: 10%;
    margin: 0px;
    background: white;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'nav login login login login login'
        'nav map-buttons map-buttons map-buttons map-buttons map-buttons'
        'nav map-names map-area map-area map-area map-area'
        'nav add-address update-address update-address update-address update-address'
        'footer footer footer footer footer footer';
    grid-gap: 1px;
    grid-template-columns: 1fr auto 4fr;
    background-color: black;
    height: 100%;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 10px 5px;
    border: 1px solid #555;
}

li {
    text-align: center;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: #444668;
}

li a {
    display: block;
    color: #000;
    padding: 4% 8%;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

#navigation {
    background: #cccccc;
    grid-area: nav;
}

#add-address {
    grid-area: add-address;
}

#update-address {
    grid-area: update-address;
}

#header {
    text-align: center;
    font-size: 32px;
    background: lightskyblue;
    grid-area: header;
}

#footer {
    text-align: center;
    background: lightskyblue;
    grid-area: footer;
}

#login {
    grid-area: login;
}

#map-buttons {
    grid-area: map-buttons;
}

#map-area {
    grid-area: map-area;
    background: lightblue;
}

#map-names {
    background: rgb(135, 169, 180);
    grid-area: map-names;
}

.grid-container > div {
    background: #dddddd;
    padding: 1%;
}

#map {
    height: 640px;
    width: 100%;
}